*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #B5D4F4   ;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid #534AB7 ;
    height: 85vh;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    font-family: 'Poppins', sans-serif;
    background: #F8FAF2  ;
    color:#333;
}
.wrapper:hover {
  box-shadow: 10px 15px 20px #534AB7 ;
}
.profile-pic img{
    width: 30vw;
    max-width: 150px;   
    aspect-ratio: 1 / 1;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    border: 3px solid #0C447C ;
}
.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-pic{
    display: flex;
    margin-top: 8px;
    margin-bottom: 10px;
}

.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.profile-info p{
    padding: 0.2rem;
    user-select: none;
}
.imp{
    font-weight: 600;
    color:#2C2C2A ;
}
.imp1{
    font-weight: 700;
    color:#0C447C ;

}
.imp2{
    font-weight: 600;
    text-align: center;
    color:#0C447C;
}
.imp1,.imp2,.imp{
    font-size:clamp(0.9rem,2vw,1.2rem);
}
.line{
    width:80%;
    height:1px;
    background-color: #CECBF6;
    margin: 10px 0;
    box-shadow: 0px 0px 5px rgba(0,119,255,0.5);
}

.contact table{
    display:flex;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-links{
    text-decoration: none;
    color: #000;
    margin: auto 0.4rem auto 0.9rem;
}
.contact-links a{
    color: #4a90e2;
}
.contact a:hover{
    color: #50c878 ;
    text-decoration: underline;
    transition: color 0.3s;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 576px) {
  .profile-pic img {
    width: 80px;
    aspect-ratio: 1 / 1;
  }
}

@media (min-width: 768px) {
  .profile-pic img {
    width: 120px;
    aspect-ratio: 1 / 1;
  }
}

@media (min-width: 992px) {
  .profile-pic img {
    width: 150px;
    aspect-ratio: 1 / 1;
  }
}

@media (min-width: 1200px){
  .profile-pic img {
    width: 180px;
    aspect-ratio: 1 / 1;
  }
}
